<!-- src/main/resources/templates/book-list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Book List</title>
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body>

	<div class="container mt-5">
		<h1 class="mb-4">Book List</h1>
		<div>
			Page: <a th:href="@{/book/all?currentPage=0&size=10}">1</a> <a
				th:href="@{/book/all?currentPage=1&size=10}">2</a> <a
				th:href="@{/book/all?currentPage=2&size=10}">3</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Book Name</th>
					<th>Author</th>
					<th>Review</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="book : ${books}">
					<td th:text="${book.name}"></td>
					<td th:text="${book.author.name}"></td>
					<td><a th:href="@{/book/{id}(id=${book.id})}"
						class="btn btn-primary">View Review</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
